@value brand-text-color, dark-bg-color, dark-text-color from "../colors.css";
@value custom-bg-color: #e0e0e0;
@value sidebar-witdh: 250px;
:global {
  .layout-dashboard .productsWrapper .panel {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
  }
}

@media (min-width: 768px) {
  .layout {
    .navigationHeader, .sidemenu {
      width: sidebar-witdh;
    }
  }
}

.body {
  background-color: custom-bg-color;
}

.layout {
  .navigationHeader, .navigationHeader:hover {
    color: brand-text-color;
    background-color: dark-bg-color;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

.sidemenu {
  color: dark-text-color;
  background-color: dark-bg-color;
  float: left;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: '';
  }
}

.sidemenu-body {
  padding-top: 70px;
}

.container {
  height: 100%;
  overflow: hidden;
}

.containerBody {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  &::after, &::before {
    display: table;
    content: ' ';
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
}
