{
  "env": {
    "production": {
      "presets": [
        ["es2015", {
          "modules": false
        }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "transform-promise-to-bluebird",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "presets": ["es2015-loose", "stage-0", "react"],
      "plugins": [
        "transform-runtime",
        "transform-promise-to-bluebird",
        "react-hot-loader/babel", ["react-intl", {
          "messagesDir": "./i18n/",
          "enforceDescriptions": false
        }]
      ]
    },
    "test": {
      "presets": ["es2015-loose", "stage-0", "react"],
      "plugins": [
        "transform-runtime",
        "transform-promise-to-bluebird",
        "istanbul", ["babel-plugin-espower", {
          "embedAst": true
        }],
        ["babel-plugin-webpack-aliases", {
          "config": "./webpack/webpack.config.test.js"
        }],
        ["babel-plugin-webpack-loaders", {
          "config": "./webpack/webpack.config.test.js",
          "verbose": false
        }]
      ]
    }
  }
}
