{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-webpack-loaders", {
          "config": "./build/webpack.config.test.js",
          "verbose": false,
        }]
      ]
    }
  }
}
