{
  "presets": ["es2015-webpack", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel", [
          "react-intl", {
            "messagesDir": "./i18n/",
            "enforceDescriptions": false
          }
        ]
      ]
    },
    "test": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        [
          "__coverage__", {
            "only": "src/**/*(!.spec).js"
          }
        ],
        [
          "babel-plugin-webpack-loaders", {
            "config": "./build/webpack.config.test.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
