@import '../../theme/default-theme.scss';

.container {
    color: $default-text-color;
    background-color: $default-bg-color;
}

.containerBody {
    color: $default-text-color;
    background-color: $default-bg-color;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
}
