@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(./fonts/roboto-400.eot);
  src: url(./fonts/roboto-400.eot?#iefix) format('embedded-opentype'), url(./fonts/roboto-400.woff) format('woff'), url(./fonts/roboto-400.ttf) format('truetype'), url(./fonts/roboto-400.svg) format('svg');
}

@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  src: url(./fonts/material+icons-400.eot);
  src: url(./fonts/material+icons-400.eot?#iefix) format('embedded-opentype'), url(./fonts/material+icons-400.woff) format('woff'), url(./fonts/material+icons-400.ttf) format('truetype'), url(./fonts/material+icons-400.svg) format('svg');
}
