@import 'settings';
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Material Icons';
  src: url('./fonts/material+icons-400.eot') format('embedded-opentype'), url('./fonts/material+icons-400.woff') format('woff'), url('./fonts/material+icons-400.ttf') format('truetype'), url('./fonts/material+icons-400.svg#material+icons') format('svg');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';
  src: url('./fonts/roboto-400.eot') format('embedded-opentype'), url('./fonts/roboto-400.woff') format('woff'), url('./fonts/roboto-400.ttf') format('truetype'), url('./fonts/roboto-400.svg#roboto') format('svg');
}

:global {
  .material-icons {
    display: inline-block;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-family: 'Material Icons';
    line-height: 1;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .dp16 {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  .dp24 {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .dp48 {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }

  body {
    background-color: $default-bg-color;
    color: $default-text-color;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    font-smoothing: antialiased;
  }

  body,
  html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
}
