.addProductButton {
    margin-bottom: 1em;
}

.deleteProductButton {
    margin-right: 1em;
}

.productTitle {}

.product {}

.products {
    margin: 0;
}

.productsWrapper {
    margin: 70px;
}

.productImage {
    width: 90px;
}
